# Keyboard & Mouse
xsetroot -cursor_name left_ptr
setxkbmap -layout gb -option caps:none

# VirtualBox Guest Additions
[[ -x /usr/bin/VBoxClient-all ]] && VBoxClient-all

# Services and tray icons
volumeicon &
systemctl --user start dunst

# Background image
source ~/.fehbg

# Start dropbox
systemctl --user start dropbox

if [[ $(hostname) = "archie" ]]; then
	# Battery tray icon
	cbatticon &

	# Network management
	(sleep 5 && wpa_gui -t) &
fi
