# Keyboard & Mouse
xsetroot -cursor_name left_ptr
setxkbmap -layout gb -option caps:none

# VirtualBox Guest Additions
[[ -x /usr/bin/VBoxClient-all ]] && VBoxClient-all

# Start udiskie
#udiskie --tray &

# Services and tray icons
pnmixer &
dunst &

# Background image
source ~/.fehbg

# Start dropbox
(sleep 5 && dropbox) &

# Battery tray icon
cbatticon &

# Network management
(sleep 5 && wpa_gui -t) &

