# Keyboard & Mouse
xsetroot -cursor_name left_ptr
setxkbmap -layout gb -option caps:none

# VirtualBox Guest Additions
[[ -x /usr/bin/VBoxClient-all ]] && VBoxClient-all

# Services and tray icons
[[ -x volumeicon  ]] && (sleep 5 && volumeicon) &
systemctl --user start dunst
#kalu &

# Background image
(sleep 10 && source ~/.fehbg) &

# Start dropbox
(sleep 10 && systemctl --user start dropbox) &
(sleep 5 && syncthing-gtk) &

if [[ $(hostname) = "archie" ]]; then
	# Battery tray icon
	cbatticon &

	# Network management
	(sleep 5 && wpa_gui -t) &
elif [[ $(hostname) = "dekl-n0074" ]]; then
	xrandr --output eDP-1 --off
	(sleep 5 && pasystray) &
fi
